name: build

on:
  push:
    branches:
      - main
      - release/*
  pull_request:

permissions:
  contents: write
  id-token: write

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - run: git --version

      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - run: go version

      - run: make context

      - name: Build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make build
